* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
  font-family: "Poppins", sans-serif;
  color: var(--textColor);
  text-decoration: none;
  list-style: none;
}
:root {
  --primaryColor: #00bfa6;
  --sprimaryColor: #00847d;
  --backiconColor: #b7f7ef;
  --backiconColor2: #dafffb;
  --secondaryColor: #ff7800;
  --textColor: #1b1b1b;
  --titleColor: #a8a8a8;
  --titleColor2: rgb(240, 242, 242);
  --bgColor: #ffffff;
  --secondBgColor: #faf8f8;
  --secondColor: rgb(0, 19, 36);
  /* font variables */
  --menuFontsize: clamp(0.8rem, -0.0578rem + 1.88vw, 1rem);
  --logoFontsize: clamp(1rem, -0.298rem + 2.44vw, 1.6rem);
  --imgLogosize: clamp(6rem, 2.7924rem + 14.66vw, 13rem);
  --textFontsizeTitle: clamp(1.2rem, 0.6049rem + 2.72vw, 2.5rem);
  --textFontsize: clamp(0.9rem, 0.6703rem + 1.05vw, 1.4rem);
  --headlineFontsize: clamp(1.8rem, 0.5222rem + 5.84vw, 3rem);
}
html.body {
  width: 100%;
  height: 100vh;
}
.Home_page {
  width: 100%;
  height: 100vh;
  display: flex;
  flex-direction: column;
  overflow: hidden;
  position: relative;
}
.language_displayer{
  display: none;
  position: absolute;
  margin: auto;
  right: 1rem;
  top: 4.1em;
  background-color: var(--bgColor);
  padding: 1rem 2rem;
  border-radius: .3rem;
  flex-direction: column;
  gap: .5rem;
}
.visible {
  display: flex;
}
.language_displayer:before{
  content: '';
  position: absolute;
  background-color: var(--bgColor);
  width: 20px;
  height: 20px;
  margin: auto;
  top: -.5rem;
  right: 3vw;
  transform: rotate(135deg);
  border-radius: .2rem;
  z-index: 1;
}
.language_displayer > p {
  font-weight: 500;
  color: #a8a8a8;
  width: 100%;
}
.language_displayer > .language{
  display: flex;
  flex-direction: column;
  gap: .3rem;
  width: 100%;
}.language_displayer > .language > a{
  cursor: pointer;
  width: 100%;
  padding-inline: .5rem;
  font-size: .9rem;
  font-weight: 450;
  color: var(--textColor);
}.language_displayer > .language > a:hover{
  color: var(--primaryColor);
}.language_displayer > .language > .active {
  width: 100%;
  border-left: .2rem solid var(--primaryColor);
  color: var(--primaryColor);
  
}
.Home_page > nav {
  display: flex;
  gap: 1rem;
  width: 100%;
  justify-content: space-between;
  align-items: center;
  padding-inline: 4%;
  padding-block: 1rem;
  background-color: var(--sprimaryColor);
}
.Home_page > nav > h1 > a {
  font-size: var(--logoFontsize);
  color: var(--bgColor);
  cursor: pointer;
}

.Home_page > nav > .Menu {
  width: 100%;
  display: flex;
  justify-content: flex-end;
  flex-wrap: wrap;
  align-items: center;
}
.Home_page > nav > .Menu > .close_button,
.Home_page > nav > .Menu > .socialmedia_link {
  display: none;
}

.Home_page > nav > .Menu > .list {
  width: 100%;
  display: flex;
  justify-content: flex-end;
  flex-wrap: wrap;
  align-items: center;
  gap: clamp(0.7rem, -14rem + 23.63vw, 2rem);
}

.Home_page > nav > .Menu > .list > li {
  height: 100%;
  display: flex;
  align-items: center;
  justify-content: flex-start;
  text-align: left;
}

.Home_page > nav > .Menu > .list > li > a {
  color: var(--secondBgColor);
  font-size: var(--menuFontsize);
  font-weight: 500;
}
.Home_page > nav > .access_tools {
  display: flex;
  justify-content: center;
  align-items: center;
  padding-inline: 0.2rem;
  gap: 0.5rem;
}
.access_tools > i {
  font-size: 1.5rem;
  color: var(--secondBgColor);
  cursor: pointer;
}
.access_tools > #visible_amburger {
  display: none;
}

main {
  height: 100%;
  min-height: 500px;
  background-color: var(--secondBgColor);
  /* height: 20rem; */
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  gap: 1rem;
}

main > img {
  width: var(--imgLogosize);
  height: var(--imgLogosize);
}

main > .vision_Company_and_text {
  width: fit-content;
  text-align: center;
  display: flex;
  align-items: center;
  flex-direction: column;
  gap: 0.5rem;
}
main > .vision_Company_and_text > h1 {
  font-size: var(--textFontsizeTitle);
}
main > .vision_Company_and_text > p {
  width: 100vw;
  padding-inline: 4rem;
  padding-bottom: 1rem;
  font-size: var(--textFontsize);
}

main > .vision_Company_and_text > a {
  background-color: var(--primaryColor);
  padding: 0.5rem 4rem;
  color: var(--bgColor);
  font-weight: 700;
  border-radius: 0.3rem;
  font-size: var(--menuFontsize);
}

.download {
  display: flex;
  flex-direction: column;
  align-items: center;
  width: 100%;
  height: auto;
  gap: 1rem;
}

.text_header {
  width: 100%;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}
.text_header > h2 {
  font-size: var(--headlineFontsize);
  color: var(--sprimaryColor);
  font-weight: 600;
  line-height: none;
  padding-block: 2rem;
}
.download > .main_container_download {
  display: grid;
  grid-template-columns: repeat(auto-fill, minmax(40vw, 1fr));
  width: 100%;
  height: 100%;
  overflow: hidden;
}

.main_container_download > .img_phonedownload {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  width: auto;
  height: 100%;
  padding-block: 4rem;
  padding-inline: 4rem;
  background-color: var(--backiconColor);
  gap: 4rem;
}
.img_phonedownload > .android {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  align-items: center;
  gap: 1rem;
}
.img_phonedownload > .android > img {
  width: 12.5rem;
  height: 21.9;
}
.desktop > img {
  width: clamp(20rem, 12.8rem + 32vw, 40rem);
  height: clamp(13rem, 7.96rem + 22.4vw, 27rem);
}
.android > a,
.desktop > .two_mark > a {
  background-color: var(--primaryColor);
  padding: 0.5rem 2rem;
  border-radius: 0.3rem;
  color: var(--bgColor);
  font-size: var(--menuFontsize);
}

.desktop {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  height: 100%;
  width: auto;
  background-color: var(--backiconColor2);
  padding-block: 4rem;
}
.desktop > .two_mark {
  display: flex;
  align-items: center;
  justify-content: center;
  gap: 2rem;
  width: 100%;
}
.features {
  width: 100%;
  display: flex;
  flex-direction: column;
  align-items: center;
  padding-inline: 3rem;
  padding-block: 2rem;
  gap: 2rem;
  background-color: var(--secondBgColor);
}
.features h2 {
  font-size: var(--headlineFontsize);
  color: var(--sprimaryColor);
  font-weight: 600;
  line-height: none;
}
.feature_container {
  width: 100%;
  display: grid;
  grid-template-columns: 1fr 1fr;
  grid-template-rows: auto;
  gap: 2rem;
}
.single_feature {
  position: relative;
  text-align: center;
  display: flex;
  flex-direction: column;
  align-items: center;
  width: auto;
  padding: 3rem;
  border-radius: 0.3rem;
  transition: all 0.3s ease-in-out;
  background-color: var(--bgColor);
}
.single_feature > i {
  position: absolute;
  top: 1rem;
  background-color: var(--primaryColor);
  border: 0.2rem solid var(--backiconColor);
  color: var(--bgColor);
  width: 2rem;
  height: 2rem;
  display: flex;
  align-items: center;
  justify-content: center;
  border-radius: 50%;
}

.single_feature:hover > h3,
.single_feature:hover > p {
  color: var(--bgColor);
  /* font-size: 1rem; */
}
.single_feature > p {
  font-size: var(--menuFontsize);
}
.single_feature:hover > i {
  background-color: var(--bgColor);
  border: 0.2rem solid var(--backiconColor);
  color: var(--sprimaryColor);
}
.single_feature:hover {
  box-shadow: rgba(0, 0, 0, 0.09) 0px 3px 12px 0px;
  cursor: pointer;
  background-color: var(--sprimaryColor);
}

.subscription {
  width: 100%;
  height: 100%;
  padding-inline: 1.5rem;
  padding-block: 2rem;
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 2rem;
}

.subscription_plan_container {
  height: 100%;
  width: 100%;
  display: grid;
  grid-template-columns: 1fr 1fr 1fr;
  gap: 1rem;
  align-items: center;
  padding: 0 2rem;
}

.subscription > h2 {
  font-size: var(--headlineFontsize);
  color: var(--sprimaryColor);
  font-weight: 600;
  line-height: none;
}

.silver > .list_items > .header_title > i {
  color: #b3b3b3;
  border: 2px solid #b3b3b3;
}
.gold > .list_items > .header_title > i {
  color: #ffad00;
  border: 2px solid #ffad00;
}
.gold > .list_items > p {
  color: #ffad00;
}
.diamond > .list_items > p {
  color: var(--primaryColor);
}
.diamond > .list_items > .header_title > i {
  color: var(--primaryColor);
  border: 2px solid var(--primaryColor);
}
.subscription_plan_container
  > .subscription_plan
  > :nth-child(n)
  > .header_title
  > i {
  width: 2rem;
  height: 2rem;
  display: flex;
  align-items: center;
  justify-content: center;
  padding: 0.8em;
  border-radius: 50%;
  font-size: 1rem;
}
.subscription_plan {
  width: 100%;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  position: relative;
  border-radius: 0.5rem;
  text-align: center;
  transition: all 0.2s ease-in-out;
  box-shadow: rgba(0, 0, 0, 0.1) 0px 0px 5px 0px,
    rgba(0, 0, 0, 0.1) 0px 0px 1px 0px;
}
.subscription_plan:hover {
  cursor: pointer;
  outline: 0.2rem solid var(--primaryColor);
}
.list_items {
  width: 100%;
  padding: 1rem;
  background-color: var(--bgColor);
}
.list_items > .header_title {
  display: flex;
  justify-content: space-between;
  align-items: center;
  font-size: 1.2rem;
}
.list_items > p {
  font-size: clamp(3rem, -0.3457rem + 14.87vw, 10rem);
  font-weight: 400;
  color: var(--titleColor);
}
.list_items > p > span {
  font-size: var(--menuFontsize);
}
.subscription_plan > h1 {
  display: flex;
  justify-content: space-between;
  align-items: center;
  background-color: #00847d;
  text-align: left;
  padding: 0.6rem;
  width: 100%;
  font-size: var(--menuFontsize);
  font-weight: 600;
  color: var(--bgColor);
  border-radius: 0 0 0.5rem 0.5rem;
}
.subscription_plan > h1 > span {
  font-size: var(--menuFontsize);
  font-weight: 400;
  color: var(--backiconColor);
  float: right;
}
.paiement_method {
  padding-bottom: 2rem;
  width: 100%;
  background: var(--secondBgColor);
  display: flex;
  flex-direction: column;
  align-items: center;
}
.paiement_method > h2 {
  font-size: var(--headlineFontsize);
  color: var(--sprimaryColor);
  font-weight: 600;
  padding-block: 2rem;
  line-height: none;
}
.container {
  width: 90%;
  text-align: center;
  padding: 1rem;
  border-radius: 0.5rem;
}
.sp_method {
  width: 100%;
  display: flex;
  padding-inline: 1rem;
  gap: 3rem;
  text-align: justify;
  justify-content: center;
  align-items: center;
}
.sp_method > .content > h3 {
  font-size: clamp(1rem, 0.4799rem + 2.19vw, 2rem);
}
.sp_method > .content > p {
  font-size: clamp(0.8rem, 0.5934rem + 0.87vw, 1.2rem);
}
.sp_method:last-child {
  display: flex;
  flex-direction: row-reverse;
}

footer {
  display: flex;
  flex-direction: column;
  width: 100%;
  /* padding: 2rem; */
}
footer > .upper_footer {
  display: flex;
  flex-direction: column-reverse;
  width: 100%;
}
footer > .upper_footer > .icon_logo_container {
  width: 100%;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  padding-block: 3rem;
  gap: 0.5rem;
}
footer > .upper_footer > .icon_logo_container > p {
  text-align: center;
  font-size: calc(1rem, 0.8vw);
}
.icon_logo_container > .socialmedia_link {
  display: inherit;
  gap: 1rem;
}
.icon_logo_container > .socialmedia_link > a > i {
  color: var(--titleColor);
  cursor: pointer;
  transition: all 0.5s ease;
}
.icon_logo_container > .socialmedia_link > a > i:hover {
  color: var(--primaryColor);
}
footer > .upper_footer > .footer_menu_container {
  background-color: var(--sprimaryColor);
  display: flex;
  width: 100%;
  font-size: 1rem;
  color: var(--secondBgColor);
  justify-content: space-around;
  padding: 3rem 2rem;
}
.footer_menu_container > .menu > * {
  color: var(--bgColor);
  font-size: 1rem;
  text-transform: uppercase;
}
.footer_menu_container > .menu > li > a {
  color: var(--bgColor);
  text-transform: capitalize;
}
.footer_menu_container > .menu > .App_sharing_container_footer > a {
  display: flex;
  align-items: center;
  gap: 0.5rem;
}
.footer_menu_container > .menu > .App_sharing_container_footer > a > i {
  width: 20px;
  text-align: center;
  font-size: 1rem;
  color: var(--bgColor);
}
.footer_menu_container > .menu > .App_sharing_container_footer > a > p {
  font-size: smaller;
  color: var(--bgColor);
}
.bottom_footer {
  width: 100%;
  background-color: var(--sprimaryColor);
  display: flex;
  justify-content: space-between;
  padding-inline: 1.5rem;
  padding-block: 0.3rem;
  font-size: 0.8rem;
}
.bottom_footer > p {
  color: var(--bgColor);
}
.bottom_footer > span {
  color: var(--backiconColor);
}

@media screen and (max-width: 680px) {
  .Home_page > nav {
    align-items: center;
  }

  /* Media query menu side bar */
  .Home_page > nav > .Menu {
    position: absolute;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    width: 300px;
    height: 100%;
    background-color: #00847d;
    right: 0;
    top: 0;
    transition: all 0.5s ease-in-out;
    transform: translateX(20rem);
    opacity: 0;
  }
  .Home_page > nav > .appear {
    transform: translateX(0);
    opacity: 1;
  }
  .Home_page > nav > .Menu > .list {
    height: fit-content;
    width: 100%;
    gap: 0.5rem;
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    justify-content: flex-start;
    height: 500px;
  }
  .Home_page > nav > .Menu > .list > li {
    height: fit-content;
    width: 100%;
  }
  .Home_page > nav > .Menu > .list > li > a {
    font-size: 1.1rem;
    text-transform: uppercase;
    padding: 0.3rem 1rem;
    width: 100%;
  }
  .Home_page > nav > .Menu > .list > li:hover a {
    background-color: var(--secondBgColor);
    color: var(--sprimaryColor);
  }
  .Home_page > nav > .Menu > .close_button,
  .Home_page > nav > .Menu > .socialmedia_link {
    display: block;
    font-size: 1.5rem;
    cursor: pointer;
  }
  .Home_page > nav > .Menu > .close_button {
    display: flex;
    justify-content: flex-end;
    width: 100%;
    padding: 1rem .9rem;
  }
  .Home_page > nav > .Menu > .close_button > i {
    color: var(--bgColor);
  }

  .Home_page > nav > .Menu > .socialmedia_link {
    width: 100%;
    display: flex;
    gap: 0.8rem;
    justify-content: center;
    padding-block: 0.5rem;
  }
  .Home_page > nav > .Menu > .socialmedia_link > a > i {
    color: var(--primaryColor);
    font-size: 1.2rem;
  }
  .Home_page > nav > .Menu > .socialmedia_link > a > i:hover {
    color: var(--backiconColor2);
  }
  /* end menu side bar @mediaquery */

  .access_tools {
    gap: 2rem;
  }
  .access_tools > #visible_amburger {
    display: block;
  }

  /* @start media query feature */
  .feature_container {
    width: 100%;
    display: grid;
    grid-template-columns: 1fr;
    grid-template-rows: auto;
    gap: 2rem;
  }
  /* end  */
  /* @start subscription plan media query */
  .subscription_plan_container {
    display: grid;
    grid-template-columns: 1fr;
    gap: 1rem;
    align-items: center;
    padding: 0 1rem;
  }
  .list_items > p {
    font-size: 8rem;
  }
  .list_items > p > span {
    font-size: 1rem;
  }
  .subscription_plan > h1 {
    font-size: 1.2rem;
  }
  /* @start paiment method */
  .paiement_method > h2 {
    padding-block: 1rem;
  }
  .sp_method {
    flex-direction: column;
    gap: 2rem;
    padding-block: 1rem;
  }
  .sp_method:last-child {
    /* display: flex; */
    flex-direction: column;
  }
}

@media screen and (max-width: 950px) {
  .download > .main_container_download {
    display: grid;
    grid-template-columns: 1fr;
    width: 100%;
    height: 100%;
  }
}

@media screen and (max-width: 529px) {
  footer > .upper_footer > .footer_menu_container {
    flex-direction: column;
    justify-content: center;
    align-items: center;
    gap: 2rem;
    text-align: center;
    padding: 3rem 1rem;
  }
  .bottom_footer {
    padding-inline: .5rem;
}
.bottom_footer > p {
  color: var(--bgColor);
  font-size: .6rem;
}
}
